// This file contains the variables for the child theme.
// You can override the default variables here.
// You can also add your own custom variables.
// Color system

$orange: #fc8904; 
$black: #000000;

// scss-docs-start gray-color-variables
$white:    #fff !default;
$gray-100: #f8f9fa !default;
$gray-200: #e9ecef !default;
$gray-300: #dee2e6 !default;
$gray-400: #ced4da !default;
$gray-500: #adb5bd !default;
$gray-600: #6c757d !default;
$gray-700: #495057 !default;
$gray-800: #343a40 !default;
$gray-900: #212529 !default;
$black:    #000 !default;
// scss-docs-end gray-color-variables


$primary: $orange; 




// Define font variables

$font-family-base: 'Figtree', sans-serif;
$body-color: $black;

$headings-font-family: 'Figtree', sans-serif;
$headings-font-weight: 600;
// $headings-line-height: 1.1rem;




$enable-grid-classes: true; // Set to true to enable the grid classes
$enable-cssgrid: true; // Set to true to enable the CSS Grid classes

// Grid containers
//
// Define the maximum width of `.container` for different screen sizes.

// scss-docs-start container-max-widths
$container-max-widths: (
  sm: 540px,
  md: 720px,
  lg: 960px,
  xl: 1280px,
  xxl: 1320px
) !default;
// scss-docs-end container-max-widths





// Gradient
//
// The gradient which is added to components if `$enable-gradients` is `true`
// This gradient is also added to elements with `.bg-gradient`
// scss-docs-start variable-gradient
$enable-gradients: true; // Set to true to enable the gradient classes
// $gradient: linear-gradient(180deg, rgba(#fff, .15), rgba(#fff, 0)) !default;
$gradient: linear-gradient(90deg, #003f5b, #2b4b7d, #5f5195, #98509d, #cc4c91, #f25375, #ff6f4e, #ff9913) !default;
// scss-docs-end variable-gradient


$navbar-padding-y: 0px;

