p {
    padding-bottom: 1rem;
}

article {
    text-align: left;

    .entry-meta {
        display: flex;
        justify-content: space-between;
        margin-bottom: 1rem;
        font-size: 80%;
    }

    h2.entry-title a {
        color: $black;
        text-decoration: none;
        font-size: 60%;
    }

}

// Article footer styles

.entry-footer {
    margin: 3rem 0;

    .cat-links {
        color: $white;
        background-color: $primary;
        padding: 0.5rem;
    }
}
.post-navigation {


    i {
        color: $primary;
        font-size: 2rem;

        vertical-align: middle;
    }
}


// Category Events

.cat-img img {
    max-height: 300px;
    box-shadow: $box-shadow;
}

.article-hr:last-of-type {
    display: none;
}

#comments {
    margin: 2rem 0;
    padding: 1rem;
    background-color: $white;
 }
 // End of article footer styles

// Footer styles

#wrapper-footer.wrapper {
    padding: 0.5rem 0;

    .site-footer {
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .site-info {
        text-align: center;
    }

    .copyright {
        text-align: center;
        font-size: 80%;
        padding: 1rem 0;
        color: $black;
    }
}


.adspot-left-sidebar {
    padding: 1rem;
    font-size: smaller;
}