.ticker {
    display: flex;
    flex-direction: row;
    gap: 1rem;
    flex-wrap: wrap;
    align-items: center;
    position: relative;
    width: 100%;
    overflow: hidden;
    height: 2rem;
    background: $white;
    // border: 1px solid #ddd;
    margin: 1.5rem 0;
    text-wrap: nowrap;
}

.ticker-title {
  flex-shrink: 0;
  font-size: 0.8rem;
  text-transform: uppercase;
  background-color: #333;
  color: $white;
  padding: 0.1rem 1rem;
  white-space: nowrap;
}

.ticker-items {
  flex: 1;
  position: relative;
  height: 2rem;
  overflow: hidden;
}

.ticker-item {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  opacity: 0;
  visibility: hidden;
  transform: none;
  transition: opacity 0.6s ease-in-out, visibility 0.6s ease-in-out;
  font-size: 0.8rem;
  font-weight: 700;
  line-height: 2rem;
  text-align: left;
  white-space: nowrap;
  // overflow: hidden;
  
  a {
      text-decoration: none;
      color: inherit;
  }
}
.ticker-item.active {
    animation: ticker-fade-in-right 0.6s forwards;
    position: relative;

}

@keyframes ticker-fade-in-right {
  from {
    opacity: 0;
    transform: translateX(50%);
    visibility: visible;
  }
  to {
    opacity: 1;
    transform: translateX(0);
    visibility: visible;
  }
}
  
  /* Responsive: Stack items vertically on small screens */
  @media (max-width: 600px) {
    .ticker {
        flex-direction: column;
        align-items: flex-start;
        height: auto;
        gap: 0;
    }

    .ticker-title {
      width: 100%;
      text-align: left;
      margin-right: 0;
    }

    .ticker-items {
      width: 100%;
      background-color: hsl(26, 97%, 59%, 10%);
    }
    .ticker-item {
      padding-left: 0.5em;
    }
  }
  
